body{
background-color: rgb(237, 28, 36);
margin: 0;
    
}
ul {
   list-style-type: none;
    margin: 0;
    overflow: hidden;
   width: 100%;
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
   text-align:center; 
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.menu
{
   background-color: #333;
    margin: 0;
    padding: 0;
     background-color: #333;
    height: 7vh;
}
.navigatie
{
    margin: 0 auto;
    width: 66vw;
    background-color: white;
   
}
.logo
{
    float: left;
  height: 100%;
   width: 100%;
}