/* algemeen */
body {
	margin: 0;
}

h2 {
	font-family: Open Sans;
	font-size: 4vh;
}

h3 {
	font-family: Open Sans;
	font-size: 3vh;
	margin: 0;
}

p {
	font-family: Open Sans;
}

a {
	text-decoration: none;
	color: black;
}

/* menu */ 
ul {
	margin: 0;
	padding: 2vh 0 0 0;
	list-style: none;
}

ul li {
	float: left;
	width: 12vw;
	font-size: 3vh;
	color: white;
	font-family: Open Sans;
	text-align: center;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

ul li a {
	text-decoration: none;
	display: block;
	color: white;
	height: 6vh;
}

ul li:hover {
	background-color: #111;
}

ul li ul {
	margin-top: 2vh;
}

ul li ul li {
	display: none;
	background-color: #333;
	font-size: 2vh;
	height: 4vh;
	text-align: left;
	padding-left: 1vw;
	width: 11vw;
	
}

ul li ul li:hover {
	background-color: #111;
}

ul li:hover ul li {
	display: block;
}

.navCategorie {
	position: relative;
	float: left;
	left: -0.5vw;
	height: 3vh;
	width: 3vh;
}

.menu {
	background-color: #333;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 10vh;
	position: fixed;
	width: 100vw;
	z-index: 3;
}

.navigatie {
    margin: 0 auto;
    width: 66vw;
    background-color: #333;
	height: 8vh;
   
}

.logo {
	position: absolute;
	width: auto;
	height: 8vh;
	top: 1vh;
	left: 3vh;
}

/* video */
#subkopVideo {
	position: absolute;
	top: 12vh;
	left: 3vw;
	margin: 0;
}

#homepageVideo {
	position: absolute;
	top: 18vh;
	width: 40vw;
	height: 22.5vw;
	left: 3vw;
}

#videoContext {
	position: absolute;
	left: 45vw;
	top: 18vh;
	width: 45vw;
	height: 22.5vw;
}

#videoTitel {
	position: absolute;
}

#videoTekst {
	position: absolute;
	top: 4vh;
	width: 35vw;
	font-size: 2vh;
}

#videoCategorie {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	bottom: 1vh;
	right: 1vh;
	z-index: 1;
}

/* seperation lines */
#seperationline1 {
	position: absolute;
	width: 94vw;
	left: 3vw;
	height: 5px;
	top: 65vh;
	background-color: #333;
}

#seperationline2 {
	position: absolute;
	width: 94vw;
	left: 3vw;
	height: 5px;
	top: 100vh;
	background-color: #333;
}

#seperationline3 {
	position: absolute;
	left: 66vw;
	width: 5px;
	top: 105vh;
	height: 60vh;
	background-color: #333;
}

/* trending */
#subkopTrending {
	position: absolute;
	top: 65vh;
	left: 3vw;
}

#trending1 {
	position: absolute;
	width: 30vw;
	height: 20vh;
	top: 75vh;
	left: 3vw;
	background-color: #ededed;
}

#trending2 {
	position: absolute;
	width: 30vw;
	height: 20vh;
	top: 75vh;
	left: 35vw;
	background-color: #ededed;
}

#trending3 {
	position: absolute;
	width: 30vw;
	height: 20vh;
	top: 75vh;
	left: 67vw;
	background-color: #ededed;
}

.trendingIMG {
	width: 15vw;
	height: 20vh;
}

.trendingQuote {
	position: absolute;
	left: 16vw;
	top: 0;
	font-size: 2vh;
	font-weight: bold;
}

.trendingPoliticus {
	position: absolute;
	left: 18vw;
	bottom: 0;
	font-size: 2vh;
}

.trendingCategorie {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 1vh;
	left: 1vh;
}

/* nieuw */
#nieuwContainerHomepage {
	position: relative;
	left: 3vw;
	width: 57vw;
	height: auto;
	top: 105vh;
	margin-right: 0;
}

#subkopNieuw {
	position: relative;
	width: 10vw;
	top: 105vh;
	left: 3vw;
	margin: 0;
}

.nieuwBerichtContainer {
	position: relative;
	width: 57vw;
	height: auto;
	margin-bottom: 2vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	background-color: #ededed;
}

.nieuwQuote {
	width: 50vw;
	height: auto;
	margin-left: 2vw;
	margin-top: 0;
	margin-bottom: 6px;
	font-size: 2.5vh;
	font-weight: bold;
}

.nieuwPoliticus {
	position: relative;
	margin-top: 0;
	margin-bottom: 6px;
	left: 5vw;
	font-size: 2vh;
}

.nieuwCategorieHomepage {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	bottom: 1vh;
	right: 1vh;
	z-index: 1;
	
}

/* contact / Disclaimer */
#contactContainer {
	position: absolute;
	top: 126vh;
	left: 69vw;
	width: 25vw;
	height: 45vh;
}

/* artikel */
#artikelIMG {
	position: absolute;
	width: 30vw;
	height: 16.9vw;
	left: 20vw;
	top: 15vh;
}

#artikelTitelContainer {
	position: absolute;
	left: 52vw;
	width: 28vw;
	top: 15vh;
	height: 16.9vw;
}

#artikelTitel {
	margin: 0;
}

#artikelPoliticus {
	position: absolute;
	bottom: 0;
	left: 3vw;
}

#artikelCategorie {
	position: absolute;
	bottom: 0;
	right: 0;
}

#artikelContent {
	position: absolute;
	width: 60vw;
	left: 20vw;
	top: 50vh;
	font-size: 2vh;
	margin-bottom: 10vh;
}






